/* Roda de progresso */
.perfil-progresso {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-style: solid;
  border-width: 2;
  border-radius: 15px;
  border-color: rgba(0, 0, 0, 0.042);
  padding: 20px;
  margin-bottom: 10px;
}

.progresso-roda {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: conic-gradient(#b7d3eb 80%, #e0e0e0 75% 100%);
}

.progresso-texto {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.progresso-label {
  margin: 60px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.project-description {
  display: flex;
  flex-direction: row;
  width: 90%;
  max-width: 100%;
  justify-content: space-between;
}
