:root {
  --primary-color: #1a365d;
  --secondary-color: #f9f9f9;
  --highlight-color: #c90d81;
  --text-color: black;
}

.homePage {
  text-align: center;
  padding: 20px;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  gap: 40px;
}

.welcome-section {
  margin-bottom: 40px;
}

.welcome-logo {
  margin-top: 100px;
  max-width: 900px;
  height: auto;
}
.carousel-wrapper {
  position: relative;
  width: 90%;  /* Define a largura do retângulo */
  padding: 40px;  /* Espaço interno */
  background-color: rgba(255, 255, 255, 0.9); /* Branco com leve transparência */
  border-radius: 16px; /* Bordas arredondadas */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra para destacar */
  display: flex;
  justify-content: center; /* Centraliza o conteúdo dentro */
  align-items: center;
  margin: 40px auto; /* Centraliza na página */
}

.carousel-box {
  position: relative;
  width: 80%;
  padding: 20px;
  background-color: var(--secondary-color);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;
}

.mySwiper {
  width: 75%;
  height: 75%;
  margin: 20px;
  border-radius: 12px;
  overflow: hidden;
}

.slide-container {
  display: flex;
  justify-content: left;
  align-items: left;
  height: 50%;
}

.slide-image {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 12px;
}

.description-container {
  text-align: justify;
  padding: 15px;
  background-color: #ccd1b8;
  /*border-top: 2px solid var(--primary-color);*/
  border-radius: 12px;
  height: 600px;
  width: 50%;
  display: flex;
  align-items: right;
  justify-content: center;
}

.description-container p {
  margin: 0;
  font-size: medium;
  line-height: 1.6;
  white-space: pre-line;
  color: var(--text-color);
}

.highlight {
  color: var(--highlight-color);
  font-weight: bold;
}

/* Responsividade */
@media (max-width: 768px) {
  .carousel-box {
    width: 90%;
  }

  .mySwiper {
    max-height: 60vh;
  }

  .description-container {
    min-height: 120px;
  }

  .description-container p {
    font-size: 12px;
  }
}
