/* Estilos da página */
/*Palette Logo -- #1b0043 -- rgb(27,0,67)*/

.welcome-logo {
  width: 600px; /* Largura da logo */
  height: auto; /* Mantém a proporção da logo */
  border-radius: 12px; /* Bordas arredondadas */
  margin-top: 50px;
  /*box-shadow: 0 4px 8px rgba(255, 8, 8, 0.1); /* Sombra suave */
}

/* Caixa que envolve o carrossel e a descrição */
.carousel-box {
  display: flex;
  flex-direction: row;
  width: 70%; /* Largura da caixa */
  padding: 20px;
  background-color: #f9f9f9; /* Cor de fundo da caixa */
  border-radius: 12px; /* Bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra suave */
}

/* Estilos do carrossel */
.mySwiper {
  width: 100%;
  height: 400px; /* Altura do carrossel */
  margin-bottom: 20px; /* Espaço abaixo do carrossel */
  border-radius: 12px;
  overflow: hidden;
}

/* Container do slide */
.slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Imagem do slide */
.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Mantém a proporção da imagem */
  border-radius: 12px; /* Bordas arredondadas */
}

/* Container da descrição */
.description-container {
  text-align: left; /* Alinha o texto à esquerda */
  padding: 15px;
  width: 100%;
}

/* Estilo do texto da descrição */
.description-container p {
  flex: auto;
  margin: 0;
  font-size: 14px;
  line-height: 1.6; /* Melhora a legibilidade do texto */
  white-space: pre-line; /* Respeita as quebras de linha no texto */
  color: black;
}

.highlight {
  color: #c90d81; /* Cor laranja, por exemplo */
  font-weight: bold;
}

.homePage {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que a página ocupe pelo menos a altura da tela */
}

.floating-button {
  position: absolute;
  width: 50px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.floating-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateY(-50%) scale(1.1);
}

.prev-button {
  left: -60px;
}

.next-button {
  right: -60px;
}
