.navBar {
  background-color: #808080; /* Cor de fundo opcional */
  position: fixed; /*garante que a barra fique fixada na tela*/
  padding: 10px 0;
  display: flex;
  height: 80px;
  width: 100%;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  z-index: 1000;
  transition: background-color 0.3s, height 0.3s; /*suavisa a transição para a barra*/
  border-radius: 0%;
}

.navBar:not(:hover){
  height: 50px;
  background-color: rgba(255, 255, 255, 0.9);
}

.navBar .container {
  display: flex;
  justify-content: center; /* Centraliza os itens dentro do container */
  align-items: center;
  width: 100%; /* Garante que o container ocupe toda a largura */
  max-width: 1200px; /* Define uma largura máxima para o container */
}


.navBar .links-container {
  display: flex;
  gap: 500px; /* Espaçamento entre os links */
}

.navBar a {
  font-size: 20px;
  text-decoration: none;
  color: #000000; /* Mudei a cor do texto para branco para melhor contraste */
  font-weight: 500;
}

.navBar a:hover {
  color: #2107b1; /* Cor do texto ao passar o mouse */
}

.navBar a.font-bold {
  font-weight: bold; /* Estilo para link ativo */
}